
body{
  font-family: 'PT Sans', sans-serif;
  padding: auto;
  margin: 20px;
  letter-spacing: 0.5px;
  background-color: rgb(249,246,239);
  max-width: 650px;
}

h1, h2{
  font-family: 'PT Sans Caption', sans-serif;
}

h1, p, ul, li{
  color: rgb(39,25,17);
}


.first{
  font-style: italic;
}